In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

In [24]:
data = pd.read_csv('machine2.txt', sep=' ')
data

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [25]:
#we only have 10 samples, thats quite low, but lets assume its enough

#Ho: there is no difference between the machines: eqaul means
#H1: means are different, one machine is better

#the two samples are indepdent since its two different machines

st.ttest_ind(data['New_machine'], data['Old_machine'], equal_var=False)

Ttest_indResult(statistic=-3.397230706117603, pvalue=0.0032422494663179747)

In [ ]:
# p is below 0.05 and therefore we reject the null hypothesis that the menas are the same, and have evidence for the alternative hypothesis
# a negative statistic value indicates that new_machine < old machine

In [28]:
print(data['Old_machine'].mean())
print(data['New_machine'].mean())

43.230000000000004
42.14

In [29]:
pokemon = pd.read_csv('pokemon.csv')
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [32]:
# in this example defense and attack for each pokemon are related to each other and not independent

#Ho: there is no difference between defense and attack
#H1: attack and defense means are different

st.ttest_rel(pokemon['Defense'], pokemon['Attack'])

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

In [ ]:
#p-value is far bewlow 0.05 hwich menas we reject the null hypothesis and accept the alternative hypothesis
#there is enough evidence that attack and defense are different

# negative statistics inidicates that defense mean is < than attack mean

In [33]:
print(pokemon['Defense'].mean())
print(pokemon['Attack'].mean())

73.8425
79.00125

In [42]:
data = pd.read_excel('anova_lab_data.xlsx')
data

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [ ]:


#Ho: there is no difference between the different power of the plasma beam and the etching rate
#H1: means are different, one power of the plasma beam is better than the others
#significance level: 0.05

In [47]:
data.columns #Power has an empty space after the r !!!!

Index(['Power ', 'Etching Rate', 'power_level'], dtype='object')

In [ ]:
data_pivot = data.pivot(index='city_count', columns='City', values='Rate')

In [56]:
data_group=pd.DataFrame(data.groupby('Power ')['Etching Rate'].apply(list))
data_group=data_group.reset_index()

In [59]:
data_group['Etching Rate'][0]

[5.43, 5.71, 6.22, 6.01, 5.59]

In [61]:
st.f_oneway(data_group['Etching Rate'][0],data_group['Etching Rate'][1],data_group['Etching Rate'][2])

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)

In [ ]:
#p value is below 0.05, therefore we reject the null hypothesis
#the plasma beamss power most likely changes the teching rate differently